{{/* layout for individual practice pages */}}
{{ define "main" }}
  <div class='hx-mx-auto hx-flex {{ partial "utils/page-width" . }}'>
    {{ partial "sidebar.html" (dict "context" .) }}
    {{ partial "toc.html" . }}
    <article>
      <section>
      <!--{{ .Kind }} {{ .Type }}-->
      </section>
      <h2>{{ .Title }}</h2>
      <section class="frontmatter">
        <div class="frontmatter-section required">
          <div class="label">What</div>
          <div class="values">
            {{ .Params.what | markdownify}}
          </div>
          <div class="label">Why</div>
          <div class="values">
            {{ .Params.why | markdownify}}
          </div>
          <div class="label">When</div>
          <div class="values">
            {{ .Params.when | markdownify}}
          </div>
        </div>

      {{ if .Params.where }}
        <div class="frontmatter-section">
        <div class="label">Where</div>
        <div class="values">
          {{ .Params.where}}
        </div>
        </div>
      {{ end }}

      {{ if .Params.importance }}
        <div class="frontmatter-section">
        <div class="label">Importance</div>
        <div class="values">
          {{ .Params.importance}}
        </div>
        </div>
      {{ end }}

      {{ if .Params.challenges }}
        <div class="frontmatter-section">
        <div class="label">Challenges</div>
        <div class="values">
        <ul>
          {{ range $chal := .Params.challenges }}
          <li>{{ $chal | markdownify }}</li>
          {{ end }}
        </ul>
        </div>
        </div>
      {{ end }}

      {{ if .Params.implementations }}

      {{/* figure out if we have details or not */}}
      {{ $.Scratch.Set "ulclassname" "implementations-simple" }}
      {{ range .Params.implementations }}
      {{ if or .advantages .disadvantages }}
      {{ $.Scratch.Set "ulclassname" "implementations" }}
      {{ break }}
      {{ end }}
      {{ end }}

      <div class="implementations frontmatter-section">
      <b>Implementations:</b>
      <ul class="{{ $.Scratch.Get "ulclassname" }}">
        {{ range $impl := .Params.implementations }}
        <li><div class="implementation">
            <div class="impl-desc">{{ $impl.desc | markdownify }}</div>
            {{ if (or $impl.advantages $impl.disadvantages) }}
            {{ partial "advantages-disadvantages.html" $impl }}
            {{ end }}
            </div></li>
        {{ end }}
        </ul>
      </div>
      {{ end }}

      {{ if .Params.recommendation }}
      <div class="recommendation frontmatter-section"><b>Recommendation:</b>
      {{ .Params.recommendation }}
      </div>
      {{ end }}

      {{ if .Params.see_also }}
      <div class="see-also frontmatter-section"><b>See also:</b>
      <ul>
      {{ range $also := .Params.see_also }}
        <li>{{ $also | markdownify }}</li>
      {{ end }}
      </ul>
      </div>
      {{ end }}

      {{ if .Params.note }}
      <div class="note frontmatter-section"><i>Note:</i> {{ .Params.note }}</div>
      {{ end }}
  </section>
  <section class="content">
    {{ .Content }}
  </section>
        {{ partial "components/last-updated.html" . }}
        {{ partial "prev_next.html" . }}
        {{ partial "components/comments.html" . }}
</article>
</div>
{{/* partial "prev_next.html" . */}}
{{ end }}
