{{/* layout for topic section: playbook/topic/index.html */}}
{{ define "main" }}
  <div class='hx-mx-auto hx-flex {{ partial "utils/page-width" . }}'>
    {{ partial "sidebar.html" (dict "context" .) }}
    {{ partial "toc.html" . }}
<article>
  <section class="content">
    <h1>{{ .Page.Title }}</h1>
    <!--Section Intro:-->
    {{ .Content }}
  </section>
        {{ partial "components/last-updated.html" . }}
        {{ partial "prev_next.html" . }}
        {{ partial "components/comments.html" . }}
</article>
</div>
{{ end }}
