:root {
    --striping-color: #dfe6ec;
}
:root[class~="dark"] {
    --striping-color: #2b2b2b;
}

/* Agathe */

:root {
    --primary-hue: 160;
    --primary-saturation: 67%;
    --primary-lightness: 86%;
    --color-body: black;
    --color-fond: #f6f6f6;
    --color-fond-dark: #FAF9F5;
    --color-une: #b5f2e1; /* avant : #9be5d7*/
    --color-une-dark: #62978D;
    --color-une-fade: #EBFAF7 ; /* pour le bandeau gauche  -- avant : */
    --color-deux: var(--color-une);
    --color-deux-fade: #e4fff6; /* pour le sub-wrapper -- avant : #D5FFF5 */
    --color-deux-dark: var(--color-une-dark);
    --color-trois: #ffffbbef;
    --font-titre: "Barlow", sans-serif;
    --font-texte: "Barlow", monospace;
}

  @font-face {
    font-family: "Barlow";
    src: url("../fonts/Barlow-Regular.ttf") format("opentype");
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "Barlow";
    src: url("../fonts/Barlow-Italic.ttf") format("opentype");
    font-style: italic;
    font-weight: 400;
  }
  @font-face {
    font-family: "Barlow";
    src: url("../fonts/Barlow-SemiBold.ttf") format("opentype");
    font-style: normal;
    font-weight: 600;
  }
  @font-face {
    font-family: "Barlow";
    src: url("../fonts/Barlow-SemiBoldItalic.ttf") format("opentype");
    font-style: italic;
    font-weight: 600;
  }

h1, h2, h3 {
    font-family: var(--font-titre);
}

body {
    font-family: var(--font-texte);
    color: var(--color-body);
    /*background-color: var(--color-fond);*/
}





/* End Agathe */


h1 {
   font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

/* landing page (index.html) */
.homepage-content {
    margin: 0% 5%;
}

/* -- landing page: hero -- */
.hero {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 4em;
    margin-left: 2em;
    margin-bottom: 3em;
}

.hero h1 {
    font-size: xxx-large;
    font-weight: bold;
}

.hero-image img {
    width: 100%;
    height: auto;
}

.hero-description {
    width: 60%;  /* this is unfortunately a magic number; works to my eye */
    padding: 1em;
    margin-right: 2em;
}

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
        margin-left: 0;
    }

    .hero h1 {
        font-size: xx-large;
        text-align: center;
    }

    .hero-description {
        width: 100%;
    }

    .hero-image img {
        width: 75%;
        height: auto;
    }
}

/* -- landing page: playbook cards -- */
.playbook-cards {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1em;
}

.playbook-card {
    display: inline-flex;
    gap: 1.5em;
    /*flex-wrap: wrap;*/
    /*flex-direction: row;*/
    /*align-items: start;*/

    width: 45%; /* 2 cards per row */

    /* style the border and shadow */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 1px solid #ccc;
    border-radius: 5px;

    /* give some space */
    /*margin: 1.5em;*/
}

.playbook-card-container {
    display: inline-flex;
    margin: 1em;
}

.playbook-card-image {
    width: 15%;
    margin-right: 1em;
}

.playbook-card-content {
    width: 80%;
}

.playbook-card-content h2 {
    display: inline-block;
}

.playbook-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 768px) {
    .playbook-card {
        width: 100%; /* 1 card per row */
    }
}


/* breadcrumbs */
.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: end;
}

.breadcrumbs li:not(:last-child)::after {
    display: inline-block;
    margin: 0 0.25em;
    content: "→";
}

/* Comparison pages */
.comparison-option {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    border: 1px solid #ccc;
}

.comparison-option:nth-child(odd) {
    background: var(--striping-color);
}

.comparison-option .name {
    font-weight: bold;
}

.best-for {
    display: inline;
}

.list-best-for {
    display: inline;
    list-style: none;
    li {
        display: inline;
    }
    li:after {
        content: ", ";
    }
    li:last-child:after {
        content: "";
    }
}

/* advantages-disadvantages */
.list-advantages {
    li::marker { color: green; }
    list-style-type: "✓ ";
}

.list-disadvantages {
    li::marker { color: red; }
    list-style-type: "✗ ";
}

.advantages-disadvantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
}

.advantages {
    flex: 1;
    margin-right: 1em;
    margin-left: 1em;
}

.disadvantages {
    flex: 1;
}


/* playbook main pages */
.section-box {
    padding: 1em;
    margin: 1em 0;
    border: 1px solid #ccc;
}

.section-box:nth-child(odd) {
    background: var(--striping-color);
}

/* practice pages */
section.frontmatter {
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em;
}
.frontmatter-section {
    display: grid;
    grid-template-columns: 6em 1fr;
    width: 100%;
}

.frontmatter-section .label {
    font-weight: bold;
}

.frontmatter-section .value {
    flex: 1;
    padding-bottom: 1em;
}

.frontmatter-section .label::after {
    content: ":";
}

.implementation {
    border: 1px solid #ccc;
    margin-left: 1em;
}

.implementation:nth-child(odd) div {
    background: var(--striping-color);
}

/* quiz pages */
label .tooltip {
    display: none;
    width: 20em;
    font-size: 0.8em;
    position: absolute;
    background: var(--striping-color);
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5em;
    z-index: 1;
}

label:hover .tooltip {
    display: block;
}

div .quiz-section {
    margin: 1em;
}

.quiz-section input[type="checkbox"] {
    margin-left: 1em;
}
