/* OMSF style guide colors */
:root {
    --omsf-primary: #bef2e1;
    --omsf-secondary-yellow: #fbe56f;
    --omsf-secondary-salmon: #ea96a9;
    --omsf-tertiary-blue: #64a1b2;
    --omsf-tertiary-pink: #f1cae0;
    --omsf-tertiary-green: #a6d382;
    --agathe-background: #f6f6f6;
    --agathe-background-dark: #faf9f5;
    --agathe-primary-fade: #ebfaf7;
    --agathe-wrapper: #e4fff6;
    --agathe-dark: #62978d;
    --omsf-outline-grey: #efefef;
    --primary-hue: 160;
    --primary-saturation: 67%;
    --primary-lightness: 85%;
}

:root {
    --striping-color: var(--agathe-wrapper);  /* prev #dfe6ec; */
    --link-color: #000000;
    --link-visited: #000000;
    --link-hover: var(--agathe-dark);
    --text-color: #000000;
    --text-font: "Barlow";
    --title-font: "Barlow";
}

:root[class~="dark"] {
    --striping-color: #2b2b2b;
    --text-color: #ffffff;
    --link-color: #ffffff;
    --link-visited: #ffffff;
}

.hextra-footer {
    background: var(--omsf-primary);
    /*padding: 1em 1em;*/
}

footer .hx-flex {
    align-items: end;
}

.spacer {
    min-height: 6em;
    flex-grow: 1;
}

footer .hextra-custom-footer {
    align-self: flex-end;
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

footer .column-1 {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    a {
        color: var(--text-color);
        text-decoration: underline;
    }
}

footer .column-1 img {
    align-self: flex-start;
    margin-bottom: 1em;
}

footer .column-2 {
    text-align: right;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    max-width: 25em;
}



footer .hextra {
    margin-top: 1em;
}

footer .nsf {
    margin-top: 1em;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

footer .nsf-logo {
    display: flex;
    flex-shrink: 0;
}

footer .nsf-logo img {
    height: 4em;
    width: auto;
    flex-shrink: 0;
    object-fit: contain;
}

footer .nsf-ack {
    text-align: right;
}

@media screen and (max-width: 768px) {
    footer .hextra-custom-footer {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    footer .column-2 {
        margin-top: 1em;
        text-align: left;
        align-items: flex-start;
    }
    footer .nsf {
        flex-direction: row;
    }
    footer .nsf-ack {
        text-align: left;
    }
}

body {
    font-family: var(--text-font);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    font-family: var(--title-font);
}

h1 {
   font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

article {
    padding-left: 1em;
    width: 100%;
    max-width: 900px;
}

.content ul {
    list-style-type: "＞ ";
    li {
        padding-left: 0.5em;
    }
    margin-left: 2rem;
}

nav .menu-container {
    position: relative;
    display: inline-block;
}

.menu-items li {
    display: block;
}

.logo-container {
    align-items: flex-end;
    margin-left: 2em;
}

.logo-container img {
    width: 80%;
    height: 80%;
}

.header-logo {
    margin: 2.75ch 0 0.5ch 2.75ch;
    text-align: center;
}

.hx-mr-2 {
    /* turn of hextra's margin, because we don't have text */
    margin-right: 0;
}

.nav-container {
    font-size: 1.2375rem;
    border-top: 20px solid var(--omsf-primary);
    border-bottom: 2px solid gray;
}

nav.topnav {
    display: flex
    position: sticky;
    top: 0px;
    align-items: flex-end;
    z-index: 1000;
}

nav ul.menu-container {
  list-style: none;
  overflow: visible;
  display: flex;
  justify-content: flex-end;
}

nav ul.menu-container li {
  /*text-align: right;*/
  /*margin-left: 5%;*/
}

nav ul.menu-container li a {
  text-decoration: none;
  font-size: 1.2375rem;
}

nav ul.menu-container li.menu-has-children:hover {
  background-color: var(--agathe-primary-fade);
}

nav ul.menu-container .menu-items a:hover {
    background-color: white;
    color: var(--agathe-dark);
}

nav .playbook-menu {
    display: inline-block;
    white-space: nowrap;
}

li.menu-has-children a.playbook-menu:after {
    content: "\0025be";
    padding-left: 15px;
    color: var(--agathe-dark);
}

.menu-items {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    background-color: white;
    border-top: 4px solid var(--omsf-primary);
}

.menu-items a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid grey;
    work-break: keep-all;
}

li.menu-has-children:hover .menu-items {
    display: block;
}

@media screen and (max-width: 768px) {
    li.menu-has-children {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    span.header-playbook-label {
        display: none;
    }
}

.sidebar-container {
    color: var(--text-color);
    /*background: var(--agathe-wrapper);*/
}

.sidebar-container a {
    color: var(--text-color);
    text-decoration: none;
}

.sidebar-container a:hover {
    background: var(--omsf-primary);
}

.sidebar-active-item {
    background: var(--agathe-wrapper);
}

.prev-next a:hover { color: var(--link-hover); }

.frontmatter a, .content a { text-decoration: underline; }
.frontmatter a:link, .content a:link { color: var(--link-color); }
.frontmatter a:visited, .content a:visited { color: var(--link-visited); }
.frontmatter a:hover, .content a:hover { color: var(--link-hover); }

.playbook-card-content {
    text-decoration: none;
    color: var(--text-color);
}

/* landing page (index.html) */
.homepage-content {
    margin: 0% 10%;
}

/* -- landing page: hero -- */
.hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 4em;
    margin-bottom: 3em;
}

.hero h1 {
    font-size: xxx-large;
    font-weight: 600;
}

.hero-image img {
    width: 100%;
    height: auto;
}

.hero-description {
    width: 60%;  /* this is unfortunately a magic number; works to my eye */
    /*padding: 1em;*/
    margin-right: 2em;
}

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
        margin-left: 0;
    }

    .hero h1 {
        font-size: xx-large;
        text-align: center;
    }

    .hero-description {
        width: 100%;
    }

    .hero-image img {
        width: 100%;
        height: auto;
    }
}

/* -- landing page: playbook cards -- */
.playbook-cards {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

.playbook-card {
    display: inline-flex;
    gap: 1.5em;
    /*flex-wrap: wrap;*/
    /*flex-direction: row;*/
    /*align-items: start;*/
    flex-basis: 48%;

    /* style the border and shadow */
    /*box-shadow: 0 4px 8px 0 #e4fff6;*/
    transition: 0.3s;
    border: 1px solid #ccc;
    border-radius: 5px;

    /* give some space */
    /*margin: 1.5em;*/
}

.playbook-card-container {
    display: inline-flex;
    margin: 1em;
}

.playbook-card-image {
    width: 15%;
    margin-right: 1em;
}

.playbook-card-content {
    width: 80%;
}

.playbook-card-content h2 {
    display: inline-block;
}

.playbook-card:hover {
    box-shadow: 0 0 16px 4px #b5f2e1;
}

@media screen and (max-width: 768px) {
    .playbook-card {
        flex-basis: 100%;
    }
}


/* breadcrumbs */
.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: end;
}

.breadcrumbs li:not(:last-child)::after {
    display: inline-block;
    margin: 0 0.25em;
    content: "→";
}

/* Comparison pages */
.comparison-option {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    border: 1px solid #ccc;
}

.comparison-option:nth-child(odd) {
    background: var(--striping-color);
}

.comparison-option .name {
    font-weight: bold;
}

.best-for {
    display: inline;
}

.list-best-for {
    display: inline;
    list-style: none;
    li {
        display: inline;
    }
    li:after {
        content: ", ";
    }
    li:last-child:after {
        content: "";
    }
}

/* advantages-disadvantages */
.list-advantages {
    li::marker { color: green; }
    list-style-type: "✓ ";
    li {
        padding-left: 0.5em;
    }
}

.list-disadvantages {
    li::marker { color: red; }
    list-style-type: "✗ ";
    li {
        padding-left: 0.5em;
    }
}

.advantages-disadvantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
}

.advantages {
    flex: 1;
    margin-right: 1em;
    margin-left: 1em;
}

.disadvantages {
    margin-left: 1em;
    flex: 1;
}

@media screen and (max-width: 768px) {
    .advantages-disadvantages {
        flex-direction: column;
    }
    .advantages {
        margin-right: 0;
        margin-left: 1em;
    }
    .disadvantages {
        margin-left: 1em;
    }
}



/* playbook main pages */
.section-box {
    padding: 1em;
    margin: 1em 0;
    border: 1px solid #ccc;
}

.section-box:nth-child(odd) {
    background: var(--striping-color);
}

/* practice pages */
section.frontmatter {
    border: 1px solid #ccc;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0em;  /* each frontmatter-section has bottom margin */
    margin: 1em;
}

.frontmatter-section {
    width: 100%;
    margin-bottom: 1em;
}

.required {
    display: grid;
    grid-template-columns: 4em 1fr;
}

.frontmatter-section .label {
    font-weight: bold;
}

.frontmatter-section .value {
    flex: 1;
    padding-bottom: 1em;
}

.frontmatter-section .label::after {
    content: ":";
}

div .frontmatter-title {
    width: 100%;
}

ul.implementations div.implementation {
    margin-top: 0.5em;
    margin-left: 1em;
    padding: 0.5em;
}

ul.implementations-simple {
    list-style-type: "＞ ";
    padding-left: 1.5em;
    li {
        padding-left: 0.5em;
    }
}

ul.implementations li:nth-child(odd) div {
    background: var(--striping-color);
}

.see-also ul {
    list-style-type: "＞ ";
    li {
        padding-left: 0.5em;
    }
    padding-left: 1.5em;
}

/* quiz pages */
label .tooltip {
    display: none;
    width: 20em;
    font-size: 0.8em;
    position: absolute;
    background: var(--striping-color);
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5em;
    z-index: 1;
}

label:hover .tooltip {
    display: block;
}

div .quiz-section {
    margin: 1em;
}

.quiz-section input[type="checkbox"] {
    margin-left: 1em;
}
