:root {
    --striping-color: #cfece2;
}

h1 {
   font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

/* landing page (index.html) */

.playbook-card-container {
    display: flex;
}

.playbook-card {
    width: 32%;
    height: 5em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0.5em;
    background: #008080;
    color: white;
    font-size: 2em;
    text-align: center;
}

.playbook-card-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playbook-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.playbook-card-container a {
    text-decoration: none;
    color: white;
}

/*.playbook-card-container a:link {*/
    /*color: white;*/
/*}*/

/*.playbook-card-container a:visited {*/
    /*color: white;*/
/*}*/


/* breadcrumbs */
.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: end;
}

.breadcrumbs li:not(:last-child)::after {
    display: inline-block;
    margin: 0 0.25em;
    content: "→";
}

/* Comparison pages */
.comparison-option {
    padding: 1em;
    margin: 1em 0;
    border: 1px solid #ccc;
}

.comparison-option:nth-child(odd) {
    background: var(--striping-color);
}

.comparison-option .name {
    font-weight: bold;
}

.best-for {
    display: inline;
}

.list-best-for {
    display: inline;
    list-style: none;
    li {
        display: inline;
    }
    li:after {
        content: ", ";
    }
    li:last-child:after {
        content: "";
    }
}

/* advantages-disadvantages */
.list-advantages {
    li::marker { color: green; }
    list-style-type: "✓ ";
}

.list-disadvantages {
    li::marker { color: red; }
    list-style-type: "✗ ";
}

.advantages-disadvantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages {
    flex: 1;
    margin-right: 1em;
}

.disadvantages {
    flex: 1;
}


/* playbook main pages */
.section-box {
    padding: 1em;
    margin: 1em 0;
    border: 1px solid #ccc;
}

.section-box:nth-child(odd) {
    background: var(--striping-color);
}

/* practice pages */
section.frontmatter {
    border: 1px solid #ccc;
    padding: 1em;
}
.frontmatter-section {
    display: grid;
    grid-template-columns: 5em 1fr;
    width: 100%;
}

.frontmatter-section .label {
    font-weight: bold;
}

.frontmatter-section .value {
    flex: 1;
    padding-bottom: 1em;
}

.frontmatter-section .label::after {
    content: ":";
}

.implementation {
    border: 1px solid #ccc;
}

.implementation:nth-child(odd) div {
    background: var(--striping-color);
}

/* quiz pages */
label .tooltip {
    display: none;
    width: 20em;
    font-size: 0.8em;
    position: absolute;
    background: var(--striping-color);
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5em;
    z-index: 1;
}

label:hover .tooltip {
    display: block;
}
