{{/* layout for the landing page */}}
{{ define "main" }}
<div class="homepage-content">

<div class="hero">

<div class="hero-image">
    {{ $omsflogo := absLangURL "images/OMSF-logo-horizontal-color.png" }}
<a href="https://omsf.io"><img src="{{ $omsflogo }}"
alt="Open Molecular Science Foundation"/></a>
</div>

<div class="hero-description">
<h1>OMSF Playbooks</h1>
<p>The OMSF Playbooks are a collection of best practices and guidelines for
open source projects in the molecular sciences domain. They have been
produced by the Open Molecular Science Foundation (OMSF) and are intended to
help projects improve their governance, sustainability, and community.</p>

<p>Visit the <a href="https://omsf.io">OMSF website</a> to learn more about
us!</p>
</div>

</div>

<!--<div class="playbook-card-container">-->
<div class="playbook-cards">
{{ range .Site.Menus.main }}
  {{ if eq .Params.type "playbook" }}
    {{ $link := .URL }}
    {{ with .PageRef }}
      {{ if hasPrefix . "/" }}
        {{ $link = absLangURL (strings.TrimPrefix "/" .) }}
      {{ end }}
    {{ end }}
    {{ $label := replaceRE ` ` '-' .Name }}
    {{ $label = lower $label }}
    {{ $image := printf "images/%s.png" $label }}
    {{ $image = absURL $image }}
    <div class="playbook-card">
      <a href="{{ $link }}">
        <div class="playbook-card-container">
        <div class="playbook-card-image">
          <img src="{{ $image }}" alt="{{ .Title }}"/>
        </div>
        <div class="playbook-card-content">
          <h2>{{ .Title }}</h2>
          <p>{{ .Params.teaser }}</p>
        </div>
        </div>
      </a>
    </div>
  {{ end }}
{{ end }}
</div>

</div> <!-- homepage-content -->
        {{ partial "components/last-updated.html" . }}
        {{ partial "components/pager.html" . }}
        {{ partial "components/comments.html" . }}
{{ end }}
